﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render(Url.Bundle("~/assets/styles"))
    @Styles.Render(Url.Bundle("~/assets/styles/themes/default"))
</head>
<body>
    @RenderBody()
    @Scripts.Render(Url.Bundle("~/assets/scripts"))
    @Scripts.Render(Url.Bundle("~/assets/scripts/en-US"))
    @Scripts.Render(Url.Bundle("~/assets/scripts/cultures/en-US", true))
    @Scripts.Render(Url.Bundle("~/assets/templates", true))
</body>
</html>